// Variables - here you can change this global values of the UI Kit
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$font-family-dm-sans: 'DM Sans',
  sans-serif;

// Color
$themecolor-dark: #102c46;
$input-dark: #143655;
$inverse: #2e4b66 !default;
$primary: #2f73f2 !default;
$secondary: #ff3c78 !default;
$danger: #dc3545 !default;
$info: #6bc1f9 !default;
$success: #3cd278 !default;
$warning: #f9c78f !default;
$dark: #102d47 !default;
$muted: #668199 !default;

$white: #fff !default;
$light: #f0f6fa !default;
$light-muted: #f8fafc !default;
$light-primary: #DAE7FF;
$light-info: #f3f9fd;
$light-inverse: #dfebfc;
$light-gray: #e2e8f3;
$light-gray-200: #e9f1f7;
$light-success: #E4FDFF;
$light-danger: #FFE0E0;
$light-white: rgba($color: $white, $alpha: 0.04);
$light-gray-100: #DCEBFF;

$light-gray-200: #BCCFE1;
$light-warning: #f2ec1d;
$bg-light-success: #7df9c2;
$light-gray-300: #181717;
$dark-primary: #054ac8;
$light-primary-gray: #effbff;
$slateblue: #b2d5ea;
$lightdark-danger: #fbcac9;
$lightdark-warning: #ffe8af;
$purple: #cad7fd;
$lightdark-success: #7df9c2;
$slateblue-dark: #C7DAE1;
$light-green: #cefcf4;
$lightdark-gray: #bccfe1;



// scss-docs-start colors-map

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "info": $info,
  "success": $success,
  "warning": $warning,
  "light": $light,
  "dark": $dark,
  "lighten-muted": $muted,
  "inverse": $inverse,
  "light-muted": $light-muted,
  "light-primary": $light-primary,
  "light-info": $light-info,
  "light-inverse": $light-inverse,
  "light-gray": $light-gray,
  "light-success": $light-success,
  "light-danger": $light-danger,
  "light-primary-gray": $light-primary-gray,
  "slateblue": $slateblue,
  "slateblue-dark": $slateblue-dark,
  "lightdark-danger": $lightdark-danger,
  "lightdark-warning": $lightdark-warning,
  "purple": $purple,
  "lightdark-success": $lightdark-success,
  "light-green": $light-green,
  "lightdark-gray": $lightdark-gray,
  "themecolor-dark": $themecolor-dark,
  "input-dark": $input-dark,
  "dark-primary": $dark-primary) !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 24px,
  8: 30px,
  9: 36px,
  10: 40px,
  11: 45px,
  12: 48px,
  13: 55px,
  14: 22px,
  15: 38px,
  16: 50px,
  17: 65px,
  18: 60px,
  19: 22px,
  20: 28px,
  21: 34px,
  22: 32px,
  23: 52px,
  24: 220px,
  25: 72px,
  ) !default;
$font-size-base: 1rem !default;

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 30px,
  7: 90px,
  8: 100px,
  9: 110px,
  10: 120px,
  11: 150px,
  12: 175px,
  13: 60px,
  14: 200px,
  15: 45px,
  16: 20px,
  17: 80px,
  ) !default;

// Common
// $min-contrast-ratio: 1.7 !default;

// Dropdown
$dropdown-item-padding-y: 10px;
$dropdown-item-padding-x: 15px;

// Line-height
$font-weight-lighter: lighter !default;
$font-weight-light: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-light !default;

// Line-height
$line-height-base: 1.5 !default; // 24px  
$line-height-sm: 1 !default; // 16px
$line-height-lg: 30px !default; // 27px

// Body Custom settings
// $text-muted: $muted !default;

// Border Radius
$border-radius: .375rem !default;
$border-radius-sm: .25rem !default;
$border-radius-lg: .5rem !default;
$border-radius-xl: 1.5rem !default;
$border-radius-2xl: 2rem !default;
$border-radius-pill: 50rem !default;

// Container Custom settings
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1940px,
  ) !default;

// Row
$grid-gutter-width: 1.875rem !default;

// Heading Custom settings
$headings-font-weight: bold !default;
$headings-color: $dark !default;

// Button Custom settings
$btn-padding-y: 10px !default;
$btn-padding-x: 35px !default;
$btn-border-radius: 5px !default;
$btn-font-weight: 500;
$btn-font-size: 17px;
$btn-transition: all 0.4s ease-in-out;

// Navpill Custom settings
$nav-pills-border-radius: 0 !default;

// common
$box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08) !default;
$box-shadow-sm: 0 8px 15px rgba($primary, 0.2);
$box-shadow-lg: 0 0px 30px rgba($light-gray-300, 0.1);
$min-contrast-ratio: 1 !default;
$enable-negative-margins: true !default;
$border-color: #E5ECF8 !default;


// card
$card-border-radius: 10px !default;
$card-border-width: 0 !default;
$card-spacer-y: 15px !default;
$card-spacer-x: 15px !default;

// Input

// scss-docs-start form-input-variables
$input-padding-y: 11px !default;
$input-padding-x: 12px !default;
$input-font-size: 16px !default;
$input-bg: $white !default;
$input-color: $muted !default;
$input-border-color: #C0D5FB !default;
$input-border-width: 1px !default;
$input-border-radius: 20px !default;
$input-placeholder-color: $muted !default;
$input-plaintext-color: $muted !default;
// scss-docs-end form-input-variables


// Form
$form-check-label-cursor: pointer;

// Accordion
$accordion-color: $dark;
$accordion-bg: $white;
$accordion-border-width: 0px;
$accordion-border-radius: 0;
$accordion-button-padding-y: 25px;
$accordion-button-padding-x: 40px;
$accordion-button-color: $dark;
$accordion-button-bg: $white;
$accordion-button-active-bg: $white;
$accordion-button-active-color: $primary;
$accordion-body-padding-x: 40px;
$accordion-button-icon: url("../../dist/images/icon/icon-plus.svg");
$accordion-button-active-icon: url("../../dist/images/icon/icon-minus.svg");

// Offcanvas
$offcanvas-horizontal-width: 280px;


// Navs

// scss-docs-start nav-variables
$nav-link-padding-y: 0.75rem !default;
$nav-link-padding-x: 2.125rem !default;
$nav-link-font-size: 17px !default;
$nav-tabs-border-radius: 0 !default;
$nav-link-color: $dark !default;
$nav-link-hover-color: $primary !default;
$nav-tabs-link-active-color: $dark;
$nav-tabs-link-active-bg: $white;
$nav-tabs-border-width: 0 !default;

// scss-docs-end nav-variables



// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y: .375rem !default;
$pagination-padding-x: .75rem !default;

$pagination-font-size: 16px !default;

$pagination-color: $inverse !default;
$pagination-bg: $white !default;
$pagination-border-radius: 6.25rem !default;
$pagination-border-width: 1px !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-active-color: $white !default;
$pagination-active-bg: $primary !default;

// scss-docs-end pagination-variables



// scss-docs-start form-label-variables
$form-label-margin-bottom: .5rem !default;
$form-label-font-size: 16px !default;
$form-label-color: $muted !default;
// scss-docs-end form-label-variables



// Breadcrumbs

// scss-docs-start breadcrumb-variables
$breadcrumb-font-size: 16px !default;
//  
$breadcrumb-item-padding-x: 1rem !default;
$breadcrumb-margin-bottom: 1.5rem !default;
$breadcrumb-divider-color: $inverse !default;
$breadcrumb-active-color: $primary !default;
$breadcrumb-divider: quote(">") !default;
$breadcrumb-divider-flipped: $breadcrumb-divider !default;

// scss-docs-end breadcrumb-variables


// scss-docs-start border-variables
$border-width: 1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px) !default;

$border-style: solid !default;
$border-color: #e5efff !default;
// scss-docs-end border-variables