.item{
    .link{
        .image-part{
            border-radius: 5px;
        }
        &:hover{
            .image-part{
                img{
                    margin-top: -20px;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}